<!DOCTYPE html>
<html>

<head>
    <% include partials/template/head.ejs %>
</head>

<body class="<%= page %>">

    <div class="container">
        <div class="outline">
            <% include partials/template/header.ejs %>
                <% include partials/template/loginLinks.ejs %>
                    <% include partials/template/headEnding.ejs %>
                        <section class="layout">
                            <div class="primary">
                                <% include partials/content/head-info.ejs %>
                            </div>
                            <!-- primary section -->

                            <aside class="secondary">
                                <% include partials/content/body-info.ejs %>
                            </aside>
                            <!-- secondary -->

                            <!-- div class="json-respond">
                            


                            </div -->

                        </section>
                        <!-- layout section -->
        </div>
    </div>

    <% include partials/template/footer.ejs %>
        <% include partials/template/jsdefaults.ejs %>
            <% include partials/template/analytics.ejs %>
</body>

</html>
