<header>
    <div class="banner">
        <div class="titleArea">
            <div class="logo"><img class="logoImage" src="images/wash/cloud.svg"></div>
            <div class="name">Cloud Insurance Co.</div>
        </div>
        <div class="loginArea">

            <div class="menu"><a href="/">HOME</a></div>
            <div class="menu"><a href="#">ABOUT</a></div>

