<header>
    <div class="banner">
        <div class="titleArea">

            <div class="logo"><img class="logoImage" src="images/wash/cloud.svg"></div>
            <div class="name"><a class="home" href=".">Cloud Insurance Co.</a></div>

        </div>
        <div class="loginArea">
            <div class="menu"><a href="./about">ABOUT</a></div>