<header>
    <div class="banner">
        <div class="titleArea">
            <div class="logo"><img class="logoImage" src="images/wash/cloud.svg"></div>
            <div class="name">Cloud Insurance Co.</div>
        </div>
        <div class="loginArea">
            <div class="menu">ABOUT</div>
            <div class="menu"><a href="/member">WEB-LOGIN</a></div>
            <div class="fb">
                <div id="fbbutton" class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
            </div>
            <div id="status"></div>
        </div>
    </div>
</header>