/* Styling for the chat bot */
.chatbot {
    background-color: white;
    position: absolute;
    top: 52px;
    right: 0;
    bottom: 0;
    border-left: 2px solid #EAEAEA;
    max-width: 400px;
    min-width: 250px;
    width: 25%;

}

.anaBanner {
  height: 48px;
  line-height: 48px;
  background-color: #5586D6;
  vertical-align: middle;
  padding-left: 15px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
.dialogcontainer {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    width: 250px;
    height: 100%;
    max-width: 400px;
    margin: 0;
    min-width: 226px;
    padding: 5px;
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/ana.svg");
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/ana.svg");
    background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/ana.svg");
    background-image: linear-gradient(bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/ana.svg");
    background-attachment: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    color: #597a96;
}

.dialoginput {
    border: none;
    border-top: 2px solid #EAEAEA;
    width: 100%;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    padding-left: 10px;
    color: #225282;
    position: absolute;
    bottom: 0;
}

.message {
    margin-top: 0.5em;
    font-size: 13px;
    font-weight: bold;
}

.ana {
    padding: 0.5em;
    border-radius: 5px;
    background-color: #F7F9F9;
    margin-left: 0.5em;
    margin-right: 30%;
    -webkit-align-self: flex-start;
    align-self: flex-start;
	-webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}

.user {
    padding: 0.5em;
    border-radius: 5px;
    background-color: #EEF2FA;
    margin-right: 0.5em;
    margin-left: 30%;
    -webkit-align-self: flex-end;
    align-self: flex-end;
	-webkit-animation: fadein 1s;
       -moz-animation: fadein 1s;
        -ms-animation: fadein 1s;
         -o-animation: fadein 1s;
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
