/* Styling for the chat bot */

.chatbot {
    margin-bottom: 30px;
}

.dialogcontainer {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    width: 226px;
    max-width: 300px;
    height: 300px;
    max-height: 300px;
    margin: 0;
    min-width: 226px;
    border-radius: 4px;
    padding: 5px;
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/ana.svg");
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/ana.svg");
    background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/ana.svg");
    background-image: linear-gradient(bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/ana.svg");
    background-attachment: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    color: #597a96;
    border: 1px solid #12aaeb;
}

.dialoginput {
    width: 240px;
    margin-top: 15px;
    border: 1px solid #12aaeb;
    height: 60px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 13px;
    padding: 10px;
    color: #225282;
    max-width: 240px;
}

.message {
    margin-top: 0.5em;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

.ana {
    padding: 0.5em;
    border-radius: 5px;
    background-color: #12aaeb;
    margin-left: 0.5em;
    margin-right: 30%;
    -webkit-align-self: flex-start;
    align-self: flex-start;
	-webkit-animation: fadein 2s; 
       -moz-animation: fadein 2s; 
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s;
}

.user {
    padding: 0.5em;
    border-radius: 5px;
    background-color: rgba(34, 82, 130, 0.9);
    margin-right: 0.5em;
    margin-left: 30%;
    -webkit-align-self: flex-end;
    align-self: flex-end;
	-webkit-animation: fadein 1s; 
       -moz-animation: fadein 1s;
        -ms-animation: fadein 1s; 
         -o-animation: fadein 1s; 
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}