.benefitkit {
    display: flex;
    flex-direction: row;
    width: 760px;
    /*
    justify-content: center;
align-content: center;
align-items: center;
*/
}

.benefitdata {
    /*    border: 1px solid #aaa;*/
    min-width: 340px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    min-height: 200px;
}

.benefitfact {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.padding {
    height: 36px;
    min-width: 30px;
    margin-right: 10px;
}

.benefitfacts {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 200px;
    font-size: 11px;
    margin-left: 30px;
    color: #225282;
    text-transform: uppercase;
}

.factlabel {
    max-width: 70px;
    min-width: 70px;
    font-weight: bold;
    color: #12aaeb;
    /* text-align: right; */
    margin-right: 10px;
}

.benefitdetail {
    display: none;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.interactions {
    min-width: 340px;
    /*    border: 1px solid #aaa;*/
    margin: 10px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header {
    text-align: justify;
    color: #12aaeb;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.interactionheader {
    text-align: right;
    color: #12aaeb;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: 0;
}

.dialogcontainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 240px;
    max-width: 300px;
    height: 300px;
    max-height: 300px;
    margin: 0;
    min-width: 240px;
    border-radius: 4px;
    color: #597a96;
    border: 1px dashed #12aaeb;
}

.dialoginput {
    width: 240px;
    margin-top: 15px;
    border: 1px solid #12aaeb;
    height: 60px;
    border-radius: 4px;
    padding: 10px;
    color: #225282;
    max-width: 240px;
}

.askana {
    height: 100px;
    opacity: 0.1;
}

.chatbot {
    margin-bottom: 30px;
}

.owner {
    text-align: justify;
    color: #225282;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 30px;
}

.interactionsub {
    text-align: right;
    color: #225282;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 30px;
}

.benefitset {
    margin-left: -60px;
}

.benefit {
    display: flex;
    flex-direction: row;
    margin: 10px;
    min-height: 30px;
    min-width: 26px;
    margin-bottom: 60px;
}

.benefitblock {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 270px;
}

.sideline {
    transform: rotate(-90deg);
    /* text-align: center; */
    text-transform: uppercase;
    font-size: 13px;
    color: #225282;
    color: #12aaeb;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
    /* margin-right: 60px; */
    min-width: 130px;
}

.benefitimage {
    height: 26px;
    min-width: 30px;
    margin-right: 10px;
}

.benefiticon {
    min-width: 66px;
}

.benefitchannel {
    width: 18px;
    height: 50px;
    background: #e7f6fd;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.benefitdetailchannel {
    width: 18px;
    height: 220px;
    background: #e7f6fd;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.benefitmarker {
    height: 6px;
    width: 6px;
    border-radius: 6px;
    background: #225282;
}

.benefitcap {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 5px;
    min-width: 280px;
}

.benefitrow {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 280px;
    cursor: pointer;
}

.benefitchanneltop {
    background: #e7f6fd;
    width: 18px;
    height: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.benefitchannelbottom {
    background: #e7f6fd;
    width: 18px;
    height: 18px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.benefitTitle {
    min-width: 200px;
    width: 200px;
    /* text-align: center; */
    color: #225282;
    text-transform: uppercase;
    letter-spacing: 1;
    font-size: 11px;
    font-weight: bold;
    margin-left: 30px;
}

.claimbox {
    display: flex;
    flex-direction: column;
    border: 1px dashed #12aaeb;
    border-radius: 4px;
    width: 220px;
    padding: 10px;
}

.claimlabel {
    color: #225282;
    margin-right: 10px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    width: 120px;
}

.claiminput {
    width: 220px;
    height: 30px;
    padding: 5px;
    color: #225282;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 4px;
    border: 1px solid #12aaeb;
    background-color: white;
}

.claimrow {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-top: 5px;
    align-items: center;
}

.claimbutton {
    background: #a0dcf7;
    border: none;
    color: #225282;
    border-radius: 4px;
    width: 140px;
    font-size: 14px;
    height: 40px;
    margin: 20px;
    margin-right: 0;
    outline: none;
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
    font-weight: bold;
}

.claimcontrols {
    display: flex;
    flex-direction: row;
    align-items: center;
}