<!DOCTYPE html>
<html>

<head>
    <title>Cloud Insurance Co</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>

    <div class="container">
        <div class="outline">
            <div class="banner">
                <div class="titleArea">
                    <div class="logo"><img class="logoImage" src="images/wash/cloud.svg"></div>
                    <div class="name">Cloud Insurance Co.</div>
                </div>
                <div class="loginArea">
                    <div class="menu">ABOUT</div>
                    <div id="status"></div>
                </div>
            </div>
            <div class="welcome"><strong>Cloud Insurance Co.</strong> is a conceptual insurance site built using <a href="http://bluemix.net">IBM Bluemix</a> and IBM Watson. None of the policies are real ... the site exists to experiment and showcase cognitive and cloud computing ideas in the context of insurance.
                <p>Log in with Facebook, chat with an AI message bot, follow the links to learn how it was built ...</p>
            </div>
            <div class="tiles">
                <div class="tile">
                    <img class="tileImage" src="images/wash/house.svg">
                    <div class="label">HOME</div>
                </div>
                <div class="tile">
                    <img class="tileImage" src="images/wash/health.svg">
                    <div class="label">HEALTH</div>
                </div>
                <div class="tile">
                    <img class="tileImage" src="images/wash/car.svg">
                    <div class="label">AUTO</div>
                </div>
            </div>
            <div class="hero">
                <img class="tileImage" src="images/wash/watch.svg">
                <div class="heroText">We value your time, with our instant and intelligent policy bot service</div>
                <img class="botImage" src="images/wash/bot.svg">
            </div>
        </div>
    </div>
</body>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-77345475-1', 'auto');
    ga('send', 'pageview');
</script>

</html>