<div class="tiles">
    <div class="tile">
        <div class="glow">
            <img class="tileImage" src="images/wash/house.svg">
        </div>
        <div class="label ">HOME</div>
    </div>
    <div class="tile">
        <div class="glow">
            <img class="tileImage" src="images/wash/health.svg">
        </div>
        <div class="label ">HEALTH</div>
    </div>
    <div class="tile">
        <div class="glow">
            <img class="tileImage " src="images/wash/car.svg">
        </div>
        <div class="label ">AUTO</div>
    </div>
</div>
<div class="hero">
    <img class="tileImage " src="images/wash/watch.svg ">
    <div class="heroText ">We value your time, with our instant and intelligent policy bot service</div>
    <img class="botImage " src="images/wash/bot.svg ">
</div>