<div class="github">
    <span class="octicon octicon-octoface" style="font-size:22px;padding-right:10px;">
    </span>
    <a href="https://github.com/IBM-Bluemix/insurance-bot"> Learn how this site was built </a>
</div>