<div id="fb-root"></div>
<div class="welcome"><strong>Cloud Insurance Co.</strong> is a conceptual insurance site built using <a href="http://bluemix.net">IBM Bluemix</a> and <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/">IBM Watson</a>.
    <p>None of the policies are real ... the site exists to experiment and showcase cognitive and cloud computing ideas in the context of insurance.</p>
</div>
